html {
  background-color: rgba(209, 208, 208, 0.6);
}

p,
label {
    font: 2rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

main{
  display:flex;
  flex-wrap:nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:80vh;
  width:100vw;
}
h1{
  font:2.5rem 'Fira Sans', sans-serif;
}
div{
  height:5vh;
  width:30vw;
  display:flex;
  flex-flow:row nowrap;
  justify-content: start;
  align-items:center;
  border:1px solid blue;
  border-radius:4px;
  padding:5px;
  margin-bottom:10px;
}

button {
  background-color:blue;
  height:3vh;
  width: 20vh;
  color:white;
  border-radius:4px;
}


#display-todos-btn{
  color:whitesmoke;
}
#todo{
  visibility:hidden;
}

ul{
  list-style:none;
}