Version 1
[x] it should have a place to store todos
[x] it should have a way to display todos
[x] it should have a way to add a todos
[x] it should have a way to edit a todos
[x] it should have a way to remove a todo

Version 2
[x] it should have a function to add a todo
[x] it should have a funcition to edit a todo
[x] it should have a function to remove a todo

Version 3
[x] We should initialize the todos variable with objects
[x] the add function should add objects
[x] the edit function should edit objects

Version 4
[x] it should have a functionn to toggle the todo
[]
[]