Version 10
[] there should be a remove button for each todo
[] 
[]

Version 9
[x] there should be an li for each todo
[x] each list item should show todotext property
[x] each list item should show completed property

Version 8
[x] there should be an add todo button
[x] there should be an edit todo button
[x] there should be a button for remove todo
[x] there should be a button for toggle todo

Version 7
[x] it should have a displaytodos button
[x] the displaytodos button should run the display todos function
[x] it should have a toggleall button
[x] the toggleall button should run the toggleall function

Version 6
[x] it should have a function for toggling all todos
[x] if everything is true => change all to false
[x] if everything is false => change all to true
[x] if mixed => change everything to true

Version 5
[x] it should have a function for displaying todos
[x] displaytodos should show the todoText property
[x] displaytodos should show the completed property

Version 4
[x] it should have a functionn to toggle the todo

Version 3
[x] We should initialize the todos variable with objects
[x] the add function should add objects
[x] the edit function should edit objects

Version 2
[x] it should have a function to add a todo
[x] it should have a funcition to edit a todo
[x] it should have a function to remove a todo

Version 1
[x] it should have a place to store todos
[x] it should have a way to display todos
[x] it should have a way to add a todos
[x] it should have a way to edit a todos
[x] it should have a way to remove a todo
